

body {
  background: #ffffff;
}

#header {
  color: #1a1a1a;
}

#left-wing {
  color: #1a1a1a;
}

#right-wing {
  color: #1a1a1a;
}

#typing-area, #theme-area {
  background: #f3faff;
}

#text-display {
  color: #A9A9A9;
}

#input-field {
  background: #ffffff;
  color: #1a1a1a;
}

#input-field.wrong {
  background: rgba(198, 38, 46, 0.3);
}

#redo-button {
  background: #d1e8f3;
  color: #1a1a1a;
}

#footer {
  color: #1a1a1a;
}

.highlight {
  color: #2B547E;
}

.correct {
  color: #1a1a1a;
}

.wrong {
  color: #F75D59;
}